.text_indent {
    text-indent: 40px;
}

.about_page_img {
    border-radius: 20px;
    opacity: 70%;
}

/*переопределение bootstrap*/
.btn-primary,
.pagination .page-item.active .page-link{
    background-color: #58C795;
    border-color: #248D5D;
    color: #ffffff;
}
.pagination .page-link {
    color: #248D5D;
}
.pagination .page-item.disabled .page-link {
    color: #248D5D;
}

.card-link {
    color: #248D5D;
    text-decoration: none;
}
